<body style= "background:url('<%=image_path("fondo1.png")%>');background-repeat: no-repeat;background-size: cover;">

<div class="container">
	<br><br>
  <h1>Resetear Contraseña</h1>

  <%= form_tag password_resets_path, :method => :post do %>
    <div class="col-sm-1 col-md-2 col-lg-3">
      <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Correo" %>
    </div>
    <div class="actions"><%= submit_tag "Resetear Contraseña", class: "btn btn-primary" %></div>
  <% end %>
</div>

</body>
