Para resetear su contraseña haga click en el ícono de abajo. <br>

<a href="<%= edit_password_reset_url(@user.password_reset_token) %>">Resetear Contraseña</a> <br>

Si no ha requerido un cambio de contraseña ignore este correo.
