<h1>Editing Professor Participant</h1>

<%= render 'form', professor_participant: @professor_participant %>

<%= link_to 'Show', @professor_participant %> |
<%= link_to 'Back', professor_participants_path %>
