
<div class="container">
	<header>
		<h3>Archivos adjuntos</h3>
	</header>
	<body class="row">
		<section class="links col-md-9">
			<div class="list-group">
			<a class="list-group-item active">Proyecto: <%=@investigation.nombre%> </a>
				<% @attacheds.each do |a| %>
				<%= 
					link_to a.descripcion , a.file.url, class: 'list-group-item list-group-item-action'
				%>
 			<% end %>
			</div>
		</section>
	</body>
	<%= link_to 'New Attached', new_attached_path, class: 'btn btn-primary' %>
</div>



