<<<<<<< HEAD
<h1>Editar</h1>
<%= render 'form', extension: @extension %>

=======
<h1>Editing Extension</h1>

<%= render 'form', extension: @extension %>

<%= link_to 'Show', @extension %> |
<%= link_to 'Back', extensions_path %>
>>>>>>> 8a675d41d54dab2f2ad56b2e858e6cb13bd27695
