<<<<<<< HEAD
<div class="container">
	<%= render 'form', extension: @extension %>
</div>
=======
<h1>Crear Nuevo Proyecto</h1>

<%= render 'form', extension: @extension %>

>>>>>>> 8a675d41d54dab2f2ad56b2e858e6cb13bd27695

