<div class="container">
	<header>
		<h3>Galleria</h3>
	</header>
	<body class="row">
		<section class="links col-md-9">
			
			<div class="list-group">
				<a class="list-group-item active">Proyecto: <%=@extension.name%></a>
			</div>

			<div class="row">
				<% @photo.each do |img| %>
					<div class="col-lg-4 col-sm-6 portfolio-item">
						    <div class="thumbnail">

							<%= image_tag img.img.url, size: "200x100" %>
				            
							<div class="caption">    
						        <p><%= img.description %></p>
							</div>
				     	
						</div>
				    </div>

 				<% end %>
			</div> 							
		</section>
	</body>

	<%= link_to 'Agregar Fotos', new_photo_path, class: 'btn btn-primary' %>
</div>
