
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF'8">
  <title>Direcci칩n de Extensi칩n e Investigaci칩n - FIUNI</title> 
</head>

<body>
	<h1>P치gina Principal</h1>
	<p><%= Time.now.strftime("%d/%m/%Y") %></p>

</body>  
</html>

