<h1>Editar Documentos</h1>

<%= render 'form', document: @document %>

<br>
<div>
<%= link_to 'Ver', @document ,class: 'btn btn-default btn-sm'%> |
<%= link_to 'Volver', documents_path , class: 'btn btn-default btn-sm''%>
</div>