<p id="notice"><%= notice %></p>
<h2>Roles</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to 'Destroy',role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>