<div class="col-md-3"></div>
<div class="invoice col-md-6">
	<p><%= notice %></p>
	<h1 class="page-header" style="text-align: center;">
		Nuevo Archivo
	</h1>
	<%= render 'form', attached: @attached %>
</div>
<div class="col-md-3"></div>


