<div class="invoice">
  <% if @rol.name == 'docenteInvestigador' %>
    <h1 class="page-header">Docentes Investigadores.</h1>
    <% else %>
      <h1 class="page-header">Alumnos Investigadores.</h1>
  <%end%>
  <div id="estudiante" style="display:none;"></div>
  <div class="invoice">
 <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">    
      <!-- Content Header (Page header) -->
          <div class="box table-responsive">
          
            <!-- /.box-header -->
            <div class="box-body">
              <table id="table-investigators" class="table table-hover">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <% @investigators.each do |investigator| %>
                      <tr>
                        <td><%= investigator.name %></td>
                        <td><%= investigator.last_name %></td>
                        <td><%= investigator.email %></td>
                        <td><%= link_to show_investigator_usuario_path(investigator, :param => @rol.name) do %> <i class="btn fa fa-eye btn-default" data-toggle="tooltip" title="Detalles" data-placement="bottom"></i> <%end%></td>
                      </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
</div>
<script>
  $(function () {
    $('#table-investigators').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>



